@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;800&display=swap%27');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --Blue: #07477d;
    --LightBlue: #2399ed;
    --Black: #0e0e0e;
    --White: #f2f2f2;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    color: var(--White);
}

h2 {
    color: var(--White);
    font-size: 3rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--White);
}

h4 {
    font-size: 0.7rem !important;
    font-weight: 100;
    color: var(--White);
}

h1 span {
    color: var(--LightBlue);
}

h2 span {
    color: var(--LightBlue);
}

p {
    color: var(--White);
}

ion-icon {
    font-size: 2rem;
    color: var(--White);
}

.social:hover {
    color: var(--LightBlue);
    cursor: pointer;
}

a {
    color: var(--White);
    text-decoration: none;
}

a:hover {
    color: var(--LightBlue);
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(280deg, rgba(29, 29, 29, 0.6) 25%, rgba(7, 71, 125, 0.8) 100%);
    height: 100px;
    color: var(--White);
    border-bottom: 5px solid var(--Blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#logos {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 40, 130, 0.8)), url("Assts/Background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#logoCards {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#logos img {
    border: 0.1rem solid var(--White);
    height: 200px;
    width: auto;
}

#banners {
    padding: 5rem 0;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(0, 40, 130, 0.8), rgba(0, 0, 0, 0.5)), url("Assts/Background5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#bannerCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
}

#banners img {
    border: 0.1rem solid var(--White);
    width: 600px;
    height: auto;
}

#reviews {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 40, 130, 0.8)), url("Assts/Background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#users {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.testi {
    display: flex;
    margin: 0 3rem;
}

#business {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(0, 40, 130, 0.8), rgba(0, 0, 0, 0.5)), url("Assts/Background5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}








footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--White);
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 40, 130, 0.8)), url("Assts/Background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

#sitemap {
    font-size: 1.4rem;
}

#sitemap li {
    margin-top: 1.2rem;
}

#footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

#contact-info p {
    margin-top: 1.5rem;
}


@media only screen and (max-width: 1024px) {
    #logoCards {
        position: relative;
        display: block;
        width: 50%;
        justify-content: center;
        align-items: center;
        left: 30px;
    }
}